<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">

  <% if (success) { %>
    <div class="ui success message">
      <p style="color:black;text-align:center"><%= success %></p>
    </div>
  <% } %>

  <% if (error) { %>
    <div class="ui error message">
      <p style="color:black;text-align:center"><%= error %></p>
    </div>
  <% } %>

  </div>
</div>
