<%- include('./header') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="text-center header">Post your recipe</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-cutlery bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="tname" name="title" type="text" placeholder="Title" class="form-control">
                            </div>
                        </div>
<div class="form-group">
    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-edit bigicon"></i></span>
<!-- tags                             -->
<div class="col-md-8">
		<input type="hidden" name="count" placeholder="input tag" value="1" />
        <div class="control-group" id="fields">
            <div class="controls" id="profs">
                <form class="input-append">
                    <div id="field"><input autocomplete="off" class="input tags-inputs" id="field1" name="prof1" type="text" placeholder="enter your tags" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                </form>
            <br>
            </div>
        </div>
</div>
</div>
  <!-- elements -->
<div class="form-group">
    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-edit bigicon"></i></span>
    <div class="col-md-8">
    <input type="hidden" name="count2" placeholder="input element" value="1" />
        <div class="control-group" id="fields">
            <div class="controls" id="profs">
                <form class="input-append">
                    <div id="elem"><input autocomplete="off" class="input elems-inputs" id="elem1" name="prof1" type="text" placeholder="enter your elements" data-items="8"/>  <input autocomplete="off" class="input quantity" id="quant1" name="quant1" type="text" placeholder="enter quantity" data-items="8"/> <label id = 'ml1'><input name="mg1" class = "radio_button" type="radio" value="ml" />ml </label> <label id='mg1'><input name="mg1" class = "radio_button" type="radio" value="g" />g </label> <button id="bX" class="btn add-more" type="button">+</button></div>
                </form>
            <br>
            </div>
        </div>
    </div>
</div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="desc" name="description" placeholder="Enter description of your recipe" rows="7"></textarea>
                            </div>
                        </div>
                        <section>
                          <input type='file' onchange="readURL(this);" name="image_name"/><br/>
                          <span id="previewPane">
                          <img id="img_prev" src="#" alt="your image" name="image_src"/>
                          <span id="x">[X]</span>
                          </span>
                        </section>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="button" id="post_submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/upload.js"></script>
<%- include('./footer') %>
